* {
    text-align: center;
    font-family: Arial, sans-serif;
}

body {
    background-color: #A9F5A9;
    font-size: 1.2em;
}

a.button {
    text-decoration: none;    
    border: 0.2em solid #AA0000;
    background-color: #2EFEF7;
    height: auto;
    width: auto;
    margin: 1em;
    padding: 0.9em;
    text-align: center;
    border-radius: 0.5em;
    color: #B40404;
}

.border {
    border: medium;
    border-style: solid;
}

.eingabe {
        font-size: 1.5em;
}

@media only screen and (min-width: 639px) {  // Smartphone
  body {
    font-size: 1.5em;
  }
}

@media only screen and (miin-width: 1025px) {  // horizontal view, iPad
  body {
    font-size: 2em;
  }
}